@page "/LeaveRequest/Index"

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Leave Request</h3>
        <hr />
        <p>
            <a href="/LeaveRequest/Create" class="btn btn-primary">Create</a>
        </p>

        @if (LeaveRequests is null)
        {
            <p>Loading Data...</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Request Date</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in LeaveRequests)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Employee.FirstName</td>
                            <td>@item.Employee.LastName</td>
                            <td>@item.StartDate.ToString("yyyy/MM/dd")</td>
                            <td>@item.EndDate.ToString("yyyy/MM/dd")</td>
                            <td>@item.RequestDate</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    @*<a href="/LeaveType/Edit/@item.Id" class="btn btn-primary">Edit</a>
                                    <a href="/LeaveType/Details/@item.Id" class="btn btn-primary">Details</a>*@
                                    
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@*<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Delete this item?(Name : @DeleteItem?.Name)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="()=>DeleteLeaveType()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => CloseDeleteModal()">NO</button>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@if (!string.IsNullOrEmpty(ToastMessage))
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-info-circle"></i>
                <strong class="me-auto">Notification</strong>
                <small>Now</small>
                <button @onclick="()=>ToastMessage=null" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ToastMessage
            </div>
        </div>
    </div>
}


*@